body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.container {
    width: 100%;
}

.logo  {
    text-align: center;
    font-variant: small-caps;
    }

.fotodomek {
    width: 100%;
}

.fotojawtram {
    float: left;
    margin: 5px;
}

.linkedin {
    float: left;
    width: 88px;
    height: 88px;
    background-color: white;
    margin-right: 4px;
    text-align: center;
}

.font10 {
    font-size: 10px;
}

.github {
    float: left;
    width: 88px;
    height: 88px;
    background-color: #000000;
    margin-left: 4px;
    text-align: center;
}

.BlackLinkDiv {
    color: black;
    display: block;
    width: 88px;
    height: 88px;
    text-decoration: none;
    padding-bottom: 10px;
}

.BlackLinkDiv:hover{
    color: #5f9ea0;
}

.WhiteLinkDiv {
    color: white;
    display: block;
    width: 88px;
    height: 88px;
    text-decoration: none;
    margin-bottom: 10px;
}

.WhiteLinkDiv:hover {
    color: #5f9ea0;
}

.linkblack {
    color: black;
}

.listalinkow {
    list-style-type: none;
}

.listaprojektow {
    list-style-type: disc;
}

.iconsfontello {
    font-size: 44px;
    text-decoration: none;
    text-align: center;
    margin-top: 4px;
}

.SocialLinkText {
    vertical-align: sub;
}

.marginbottom {
    margin-bottom: 88px;
}

.margintop {
    margin-top: 44px;
}
.DivClearBoth {
    clear: both;
    margin-bottom: 88px;
}

.menuOver {
    overflow: auto;
    display: block;
   }

.menuHorizont {
    float: left;
    margin: 1px;
    background-color: black;
    }

.menuHorizont:hover {
    background-color: #5f9ea0;
}

.block {
    display: block;
    color: white;
    text-align: center;
    width: 88px;
    padding: 22px;
}