.borderspace {
    border: 1px solid black;
    margin-top: 200px;
}

.zajawka {
    box-sizing: border-box;
    margin-top: 50px;
}


.btn {
    text: white;
    border: 4px solid black;
    font-family: inherit;
    font-size: inherit;
    padding: 26px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    float: left;
    background-color: black;
    transition: background-color 2s
}

.btn:hover {
    background-color:white;
    text:black;
}

.navigation {
    position: fixed;
    top:0;
    z-index: 1;
    margin-top: 0;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: yellow;
}

.center {
    text-align: center;
}

.margintop {
    margin-top: 10px;
}

.facebook {
    position: fixed;
    width: 100px;
    height: 50px;
    bottom: 0;
    right: 0;
    color: white;
    background-color: blue;
}

.zdjeciezajawka {
    width: 100%;
}

.container {
    position: relative;
}


.zajawkanaglowek, .zajawkaparagraf {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: bold;
    font-family: Lato, sans-serif;
    color: #3b4482;
    white-space: pre-line;
}

.zajawkanaglowek {
    font-size: 30px;
    top: 30%;
}

.zajawkaparagraf {
    font-size: 25px;
    top: 40%;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}