body {
    background-color: #21324f;
    margin: 0px
}

.borderspace {
    border: 1px solid black;
    margin-top: 200px;
}

.zajawka {
    box-sizing: border-box;
    margin-top: 50px;
}


.btn {
    color: white;
    border: 4px solid black;
    font-family: inherit;
    font-size: inherit;
    padding: 26px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    float: left;
    background-color: black;
    height: 84px;
    transition: background-color 2s,color 1s, height 0.5s;
    width:20%;
    box-sizing: border-box;
}

.btn:hover {
    background-color:white;
    color: black;
    height: 289px;
}

.navigation {
    position: fixed;
    top:0;
    z-index: 1;
    margin-top: 0;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #4dddff;
    }

.center {
    text-align: center;
}

.margintop {
    margin-top: 10px;
}

.searchButton {
    background-color: black;
    color: #4dddff;
    }

.facebook {
    position: fixed;
    width: 100px;
    height: 30px;
    bottom: 0;
    right: 0;
    background-image: url("facebook.jpg");
    background-size: cover;
    transition: 1s;
}

.facebook:hover {
    height: 70px;
}

.darkbluelight {
    background-color: #21324f;
    color: #4dddff;
}

.lightbluedark {
    background-color: ;
    color: #21324f;
}

.foxyblack {
    background-color: #ff7d00;
    color: black;
}

.blackfoxy {
    background-color: black;
    color: #ff7d00;
}

.lightblueblack {
    background-color: #4dddff;
    color: black;
}

.blacklightblue {
    background-color: black;
    color: #4dddff;
}

.darkbluewhite {
    background-color: #21324f;
    color: white;
}

.white {
    background-color: white;
}

.photoHeader {
    width: 100%;
}
.opa {
    opacity: 0;
    transition: opacity 2s;
}

.btn:hover .opa {
    opacity: 1;
}


.opa {
    color: #0d1ad8;
    align-content: stretch;

}
.footer {
    background-color: black;
    color: white;
    font-family: Cabin;
    height: 150px;
    overflow: auto;
}

.about {
    background-color: gray;
    display: flex;
    height: 200px;
    justify-content: space-around;
    text-align: center;
}

.photo {
    width: 20%;
}
.zdjeciezajawka {
    width: 100%;
}

.container {
    position: relative;
}


.zajawkanaglowek, .zajawkaparagraf {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: bold;
    font-family: Lato, sans-serif;
    color: #3b4482;
    white-space: pre-line;
}

.zajawkanaglowek {
    font-size: 30px;
    top: 30%;
}

.zajawkaparagraf {
    font-size: 25px;
    top: 40%;
}

.imggosia {
    width: 100%;
    height: auto;
    opacity: 0.3;
}