body {
    background-color: #21324f;
}


.borderspace {
    border: 1px solid black;
    margin-top: 200px;
}


.btn {
    color: white;
    border: 4px solid black;
    font-family: inherit;
    font-size: inherit;
    padding: 26px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    float: left;
    background-color: black;
    transition: background-color 2s
}

.btn:hover {
    background-color:white;
    color: black;
}

.navigation {
    position: fixed;
    top:0;
    z-index: 1;
    margin-top: 0;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #4dddff;
    }

.center {
    text-align: center;
}

.margintop {
    margin-top: 10px;
}

.searchButton {
    background-color: black;
    color: #4dddff;
    }

.facebook {
    position: fixed;
    width: 100px;
    height: 50px;
    bottom: 0;
    right: 0;
    color: white;
    background-color: blue;
}

.darkbluelight {
    background-color: #21324f;
    color: #4dddff;
}

.lightbluedark {
background-color: ;
    color: #21324f;
}

.foxyblack {
    background-color: #ff7d00;
    color: black;
}

.blackfoxy {
    background-color: black;
    color: #ff7d00;
}

.lightblueblack {
    background-color: #4dddff;
    color: black;
}

.blacklightblue {
    background-color: black;
    color: #4dddff;
}

.darkbluewhite {
    background-color: #21324f;
    color: white;
}

.white {
    background-color: white;
}

.photoHeader {
    width: 100%;
}