.tlo {
    background-image: url('images/mapa1.jpg');
    width: 450px;
    height: 250px;
}

.sklep {
    width: 50px;
    height: 50px;
    background-image: url('images/sklep.jpg');
    background-size: 50px 50px;
}

td {
    border: 1px solid white;
}

.produkt {
    background-color: white; color: black; font-size: 16px
}
