body {
    background-color: #21324f;
    margin: 0px;

}

.borderspace {
    border: 1px solid black;
    /*margin-top: 200px;*/
}

.zajawka {
    box-sizing: border-box;
    margin-top: 50px;
}

.heightOfButtons {
    height: 70px;
}

/*.btn {*/
/*color: white;*/
/*border: 4px solid black;*/
/*font-family: inherit;*/
/*font-size: inherit;*/
/*padding: 26px 80px;*/
/*display: inline-block;*/
/*margin: 15px 30px;*/
/*text-transform: uppercase;*/
/*letter-spacing: 1px;*/
/*font-weight: 700;*/
/*cursor: pointer;*/
/*float: left;*/
/*background-color: black;*/
/*height: 84px;*/
/*transition: background-color 2s, color 1s, height 0.5s;*/
/*width: 20%;*/
/*box-sizing: border-box;*/
/*position: static;*/
/*}*/

/*.btn:hover {*/
/*background-color: white;*/
/*color: black;*/
/*height: 289px;*/
/*}*/

.navigation {
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: #21324f;
}

.placeholderNav {
    width: 20%;
    min-width: 160px;
    vertical-align: 48%;
    font-weight: 300;
    font-size: 110%;
    border: hidden;
    color: black;
}

input::-webkit-input-placeholder {
    color: #21324F;
    font-weight: 500;
    border: hidden;
}

.center {
    text-align: center;
}

.margintop {
    margin-top: 10px;
}

.searchButton {
    width: 48px;
    height: 48px;
}

.facebook {
    position: fixed;
    width: 100px;
    height: 35px;
    top: 170px;
    right: -35px;
    transition: 1s;
    transform: rotate(-90deg);
}

.facebook:hover {
    transform: rotate(0deg) translate(-35px,0);
}

.darkbluelight {
    background-color: #21324f;
    color: #50a0d1;
}

.lightbluedark {
    background-color: #50a0d1;
    color: #21324f;
}

.foxyblack {
    background-color: #ff7d00;
    color: black;
}

.darkbluefoxy {
    background-color: #21324F;
    color: #ff7d00;
}

.lightblueblack {
    background-color: #50a0d1;
    color: black;
}

.blacklightblue {
    background-color: black;
    color: #50a0d1;
}

.darkbluewhite {
    background-color: #21324f;
    color: white;
}

.white {
    background-color: white;
}

.opa {
    opacity: 0;
    transition: opacity 2s;
}

.btn:hover .opa {
    opacity: 1;
}

.opa {
    color: #0d1ad8;
    align-content: stretch;

}

.footer {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Cabin;
    overflow: auto;
}

.headabout {
    font-family: Cabin;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.about {
    text-align: center;
}

.about a {
    color: white;
}

.textabout {
    color: white;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 15px;
}

h2.textabout {
    font-weight: 900;
    font-size: 34px;
}

.about p {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.photoabout:hover {
    opacity: 1;
    border: solid #eea236;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.photoabout {
    border: solid white;
    border-radius: 110%;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
    transition: 1s;
    margin-bottom: 15px;
}

.zdjeciezajawka {
    width: 100%;
    height: auto;
    /*opacity: 0.95;*/
    filter: brightness(25%);
}

.container {
    position: relative;
}

.zajawkanaglowek, .zajawkaparagraf {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Lato, sans-serif;
    white-space: pre-line;
}

.zajawkanaglowek {
    font-size: 64px;
    font-weight: 900;
    top: 30%;
    color: white;
}

.zajawkaparagraf {
    font-size: 40px;
    font-weight: 800;
    top: 60%;
    color: white;
}

.K {
    color: #21324F;
}

.O {
    color: #FF7D00;
}

.T {
    color: white;
}

.Y {
    color: #50A0D1;
}

.K, .O, .T, .Y {
    font-size: 32px;
    font-weight: 800;
}

.A {
    font-size: 105%;
}

.oTytulowe {
    font-weight: 800;
    color: #FF7D00;
}

.footer .about {
    margin-top: 2%;
    text-align: center;
}

.imgfooter {
    max-width: 100%;
    width: 50px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    padding: 10px;
}

.leftabout {
    text-align: left !important;
}

/*Przyciski*/

.buttonForClick {
    background: #1d1f20;
    height: 60px;
    line-height: 60px;
    margin-left: 5%;
    margin-bottom: 40px;
}

.hamburger, .hamburger2, .hamburger3, .hamburger4 {
    background: #ff7d00;
    /*position: absolute;*/
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    height: 63px;
    padding-bottom: 10px;
    /*position: absolute;*/
}

.cross, .cross2, .cross3, .cross4 {
    background: none;
    /*position: absolute;*/
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    height: 63px;
}

.menu, .menu2, .menu3, .menu4 {
    z-index: 10000000000000;
    font-weight: bold;
    font-size: 0.8em;
    background: #21324f;
    position: absolute;
    text-align: center;
    margin-left: 0;
    /*width: 100%;*/
    margin-right: 5%;
}

.menu ul, .menu2 ul, .menu3 ul, .menu4 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu li:hover {
    display: block;
    background: #181818;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

li {
    color: white;
    /*width: 25%;*/
}

.iconForButtons {
    font-size: 45px;
}

.containerForButtons {
    width: 25%;
    float: right;
}

@media screen and (max-width: 689px) {
    .DescriptionButton {
        display: none;
    }

    .buttonForClick {
        text-align: center;
    }

}

.backgroundForButtons {
    padding-top: 45px
}


/*Koniec przyciski*/

.containernewsletter {
    padding: 40px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 767px) {

    .zajawkanaglowek {
        font-size: 24px;
        font-weight: 500;
        top: 7%;
        color: white;
    }

    .zajawkaparagraf {
        font-size: 16px;
        font-weight: 400;
        top: 16%;
        color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .zajawkanaglowek {
        font-size: 44px;
        font-weight: 700;
        top: 8%;
        color: white;
    }

    .zajawkaparagraf {
        font-size: 33px;
        font-weight: 600;
        top: 24%;
        color: white;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {


    .zajawkanaglowek {
        font-size: 69px;
        font-weight: 700;
        top: 9%;
        color: white;
    }

    .zajawkaparagraf {
        font-size: 49px;
        font-weight: 600;
        top: 31%;
        color: white;
    }
}

@media screen and (min-width: 1200px) {


    .zajawkanaglowek {
        font-size: 74px;
        font-weight: 700;
        top: 10%;
        color: white;
    }

    .zajawkaparagraf {
        font-size: 55px;
        font-weight: 600;
        top: 36%;
        color: white;
    }
}


.gradientladny, .backgroundForButtons {
    background-image: linear-gradient(-210deg, #21324f, #28524f);
}

.width10 {
    width: 10%;
}

.btn-info {
    background-color: black;
}

.imgheader{
    margin-top: 15px;
    max-width: 100%;
    width: 50px;
}

.icons {
    border: 5px solid orange;
    box-sizing: border-box;
    padding: 30px 30px;   
    margin-top: 30px;
}

.wrap {
    white-space: pre-wrap;
}

.colorForFunctions {
    /*Uzupełnic*/
}

.photo-container {
    width: 149px;
    height: 129px;
    margin: 0 auto;
    perspective: 300px;
    -webkit-perspective: 300px;
    border-radius: 110%;

}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.photo-container:hover > .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.frontside {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 0 4px 8px #FFF inset;
    border-radius: 50%;
}

.backside {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 1.6em;
    background-color: #000;
    box-shadow: 0 0 4px 8px #FFF inset;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 110%;
}

.gosiabackgroundimg {
    background: url('./images/ramkagosia.png') no-repeat;
}

.michalpbackgroundimg {
    background: url('./images/ramkapawlik.png') no-repeat;
}

.michalkbackgroundimg {
    background: url('./images/ramkakwestor.png') no-repeat;
}

.wojtekbackgroundimg {
    background: url('./images/ramkawojtek.png') no-repeat;
}

.socialicons {
    width: 40px;
    height: 40px;
    margin: 40px 0px 0px 9px;
}

.prelineForIconContent {
    white-space: pre-wrap;
}

.tlonavbar, .navbar {
    background-color: #21324f;
    border: 0 !important;
}

.navbar li {
    color: white;
    padding: 15px 0;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar li:hover{
    background-color: #2b5876;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #2b5876 !important;
}

.active {
    background-color: #2b5876;
}
