body {
    /*background-color: rgb(210,222,227);*/
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.container {
    width: 100%;
}

.logo  {
    text-align: center;
}

.linked {
    float: left;
    width: 88px;
    height: 88px;
    background-color: white;
    margin-right: 10px;
    text-align: center;
}

.github {
    float: left;
    width: 88px;
    height: 88px;
    background-color: #000000;
    margin-left: 10px;
    text-align: center;
}

/* czy to w ogóle jest dobrze zrobione? */
.linkb {
    color: black;
    display: block;
    width: 88px;
    height: 88px;
    text-decoration: none;
    padding-bottom: 10px;
}

.linkw {
    color: white;
    display: block;
    width: 88px;
    height: 88px;
    text-decoration: none;
    margin-bottom: 10px;
}

.linkblack {
    color: black;
}

.listalinkow {
    list-style-type: circle
}

.listaprojektow {
    list-style-type: disc;
}

.iconsfontello {
    font-size: 44px;
    text-decoration: none;
    text-align: center;
    margin-top: 4px;
}

.SocialLinkText {
    vertical-align: sub;
}